[Unit]
Description = isucon7 qualifier main application in golang

[Service]
WorkingDirectory=/home/isucon/myapp/isucon7-qualifier
EnvironmentFile=/home/isucon/myapp/isucon7-qualifier/env.sh

ExecStart = /home/isucon/myapp/isucon7-qualifier/isubata

Restart   = always
Type      = simple
User      = isucon
Group     = isucon

[Install]
WantedBy = multi-user.target
